body{
    font-size: 28px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.s1{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
figure{
    text-align: center;
}
.p1{
text-align: center;
}
a{
    text-decoration: none;
    color:black;
}
p{
    font-size: 28px;
}
.v1{
    font-size: 35px;
}