body{
    text-align: center;
    font-size: 38px;
}
button{
  border: none;
    background-color: rgb(95, 179, 198);
    width: 200px;
    height: 100px;
    border-radius: 10px;
}
p{
    text-align: center;
}
img{
   width: 30vw;
}
figure{
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.p1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.s1{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.e1{
    font-size:30px;
}